# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist
dist-ssr
build/Release

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache

# Pack output
*.tgz
.yarn-integrity

# dotenv environment variable files
.env
.env.*
!.env.example

# Framework outputs
.next
out
.nuxt
.svelte-kit/
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.temp

# Misc
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
*.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
